* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.header {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 20px 0px;
}

.header a {
    font-size: 28px;
    margin: 0 35px;
    color: #ffffff;
    text-decoration: none;
}

.foto-capa {
    width: 100%;
    height: calc(100vh - 74px);
}

.img-capa {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.secao-sinopse {
    width: 100%;
    padding: 50px 20px;
}

.secao-sinopse div {
    max-width: 1024px;
    margin: 0 auto;
}

.secao-sinopse h1 {
    font-size: 36px;
    text-align: center;
}

.secao-sinopse h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.secao-sinopse p {
    font-size: 20px;
    margin-bottom: 12px;
}

.secao-canais {
    width: 100%;
    padding: 50px 20px;
    background-color: #2c1d2d;
    color: #ffffff;
}

.secao-canais div {
    max-width: 1024px;
    margin: 0 auto;
}

.secao-canais h2 {
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
}

.secao-canais p {
    font-size: 20px;
    margin-bottom: 50px;
}

.img-tv {
    box-shadow: 0px 0px 10px 3px #ffffff;
    display: block;
    margin: 0 auto 30px auto;
}

.secao-temporadas {
    max-height: 1024px;
    width: 100%;
    padding: 50px 20px;
}

.secao-temporadas div {
    margin-bottom: 40px;
    width: 100%;
    min-height: 160px;
    padding: 20px;
}

.secao-temporadas h2 {
    text-align: center;
	margin: 0px 0 50px;
	font-size: 28px;
}

.secao-temporadas h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.secao-temporadas p {
    text-align: left;
	font-size: 16px;
	line-height: 30px;
}

.blocos-temporadas {
    min-height: 160px;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 40px;
	background: #f0f0f0;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 3px #cac4c4;
}

.limitar-secao p {
	font-size: 20px;
	line-height: 40px;
	margin: 12px 0;
}

.secao-imagens {
	margin: 0 auto 20px;
	overflow-x: scroll;
	white-space: nowrap;
    background: #302036;
    color: #fff;
}

.secao-imagens h2 {
    font-size: 28px;
    text-align: center;
	margin-bottom: 50px;
}

.img-serie {
	width: 320px;
	min-height: 220px;
	margin: 25px 20px;
    object-fit: cover; 
    border-radius: 6px;
	box-shadow: 0px 0px 10px 3px #fff;
}

.secao-imagens div {
    max-width: 1024px;
    margin: 0 auto;
}

.secao-imagens span {
	display: block;
    margin-top: 30px;
    font-size: 20px;
}

.secao-imagens span a {
	color: blue;
    font-size: 20px;
    text-decoration: none;
}

.rodape {
    width: 100%;
	padding: 40px 0;
	font-size: 16px;
	text-align: center;
	background: #302036;
	color: #fff;
	box-shadow: 0px 10px 20px 5px #fff;
}

::-webkit-scrollbar {
	width: 15px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f4f4f4;
}

::-webkit-scrollbar-track:hover {
	background-color: #b8c0c2;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #888888;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555555;
}