* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.banner {
    background-image: url("img/banner-topo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 450px;
}

.logo-h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 0 25px 65px;
    margin-bottom: 0px;
}

.img-patas {
    width: 30px;
}

.logo-h1 h1 {
    color: #3c184e;
    font-size: 28px;
    margin: 0;
}

.logo-h2 h2 {
    color: #3c184e;
    font-size: 14px;
    margin: -20px 0 0 65px;
    font-weight: normal;
}

.banner-texto {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.banner-texto h1 {
    color: #3c184e;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.fale-conosco {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #ffff;
}

.fale-conosco img {
    width: 20px;
}

.servicos {
    width: 100%;
    padding: 120px 80px 120px 80px;
}

.servicos h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.lista {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

ul {
    list-style-type: square;
}

ul li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.servicos-lista {
    font-weight: 700;
    font-style: italic;
}

.servicos-imagem {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.servicos-imagem img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.redes-sociais {
    padding: 120px 80px;
    background-color: #3c184e;
    text-align: center;
}

.redes-sociais p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.redes-sociais a {
    text-decoration: none;
    margin: 0 20px;
    cursor: pointer;
    display: inline-block;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
}

.marcas {
    width: 100%;
    padding: 120px 80px;
}

.marcas h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.div01-marcas,
.div02-marcas,
.div03-marcas {
    max-width: 800px;
    margin: 0 auto;
}

.div01-marcas img,
.div02-marcas img,
.div03-marcas img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.onde-estamos {
    width: 100%;
    padding: 120px 80px;
    text-align: center;
}

.onde-estamos h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.onde-estamos p {
    font-size: 20px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.onde-estamos iframe {
    width: 800px;
    height: 450px;
}

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}

footer p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}